@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@-webkit-keyframes showContent {
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes showContent {
  to {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes header-image-animation {
  25% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
    scale: 2;
  }
}

@keyframes header-image-animation {
  25% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
    scale: 2;
  }
}

@keyframes showContent {
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@-webkit-keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes effectNext {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}

@keyframes effectNext {
  from {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}

@-webkit-keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

@-webkit-keyframes contentOut {
  to {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    -webkit-filter: blur(20px);
            filter: blur(20px);
    opacity: 0;
  }
}

@keyframes contentOut {
  to {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    -webkit-filter: blur(20px);
            filter: blur(20px);
    opacity: 0;
  }
}

#check {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.3rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

.header a img {
  height: 4rem;
  margin: -20px;
  -webkit-filter: drop-shadow(3px 3px 8px #e18023);
          filter: drop-shadow(3px 3px 8px #e18023);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.527);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: -1;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

.header .icons span {
  font-size: 2.8rem;
  color: #e18023;
  cursor: pointer;
  display: none;
  height: 0;
  position: absolute;
  right: 5%;
  top: 1rem;
}

@media (max-width: 768px) {
  .header .icons span {
    display: block;
  }
}

.header .icons #close-icon {
  display: none;
}

#check:checked ~ .icons #menu-icon {
  display: none;
}

#check:checked ~ .icons #close-icon {
  display: block;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgba(225, 128, 35, 0.7);
  margin-left: 2.5rem;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  padding: 4px 8px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  /* &:hover {
      transform: scale(1.3);
      transition: transform 0.2s ease-in-out;
      box-shadow: 2px 3px 3px rgba($secondary-color, 0.2);
    } */
}

.navbar a::after {
  content: "";
  position: absolute;
  background-color: #e18023;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -6px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar a:hover {
  color: #e18023;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.navbar a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar a {
    margin-top: 1.5rem;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(22, 22, 22, 0.5);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(24, 24, 24, 0.527);
            box-shadow: 0 0.5rem 1rem rgba(24, 24, 24, 0.527);
  }
}

#check:checked ~ .navbar {
  height: 17.7rem;
}

#check:checked ~ .navbar a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: calc(0.15s * var(--i));
          transition-delay: calc(0.15s * var(--i));
  opacity: 1;
}

/* carousel */
.carousel {
  width: 80vw;
  height: 90vh;
  margin-top: 5px;
  margin: auto;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 5px 5px 10px 10px #161616;
          box-shadow: 5px 5px 10px 10px #161616;
  border-radius: 5px;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 10%;
  width: 1140px;
  max-width: 30%;
  left: 20%;
  padding: 1rem 2rem;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eeeeee;
}

@media (max-width: 768px) {
  .carousel .list .item .content {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .carousel .list .item .content .des {
    max-height: 20vh;
  }
}

.carousel .list .item .title,
.carousel .list .item .topic {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3em;
  text-transform: uppercase;
}

.carousel .list .item .topic {
  color: #e18023;
}

@media (max-width: 768px) {
  .carousel .list .item .topic {
    font-size: 2rem;
  }
}

.carousel .list .item .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (130px)[2];
      grid-template-columns: repeat(2, 130px);
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .list .item .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}

.carousel .list .item .buttons button a {
  color: #161616;
  text-decoration: none;
}

.carousel .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
}

.carousel .list .item .buttons button:nth-child(2) a {
  color: #e1e1e1;
}

/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

@media (max-width: 768px) {
  .thumbnail .item {
    width: 80px;
    height: 100px;
  }
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px #161616;
          box-shadow: 3px 3px 3px #161616;
}

.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: 500;
}

.thumbnail .item .content .description {
  font-weight: 300;
}

@media (max-width: 768px) {
  .thumbnail .item .content .title {
    display: none;
  }
  .thumbnail .item .content .description {
    display: none;
  }
}

/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(225, 128, 35, 0.6);
  border: none;
  color: #161616;
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: #e18023;
  color: #000;
  cursor: pointer;
}

/* animation */
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
  -webkit-animation: showContent 0.5s 1s linear 1 forwards;
          animation: showContent 0.5s 1s linear 1 forwards;
  background: none;
}

.carousel .list .item:nth-child(1) .content .title {
  -webkit-animation-delay: 1.2s !important;
          animation-delay: 1.2s !important;
}

.carousel .list .item:nth-child(1) .content .topic {
  -webkit-animation-delay: 1.4s !important;
          animation-delay: 1.4s !important;
}

.carousel .list .item:nth-child(1) .content .des {
  -webkit-animation-delay: 1.6s !important;
          animation-delay: 1.6s !important;
}

.carousel .list .item:nth-child(1) .content .buttons {
  -webkit-animation-delay: 1.8s !important;
          animation-delay: 1.8s !important;
}

/* create animation when next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  -webkit-animation: showImage 0.5s linear 1 forwards;
          animation: showImage 0.5s linear 1 forwards;
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  -webkit-animation: showThumbnail 0.5s linear 1 forwards;
          animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item img {
  z-index: 100;
}

.carousel.next .thumbnail {
  -webkit-animation: effectNext 0.5s linear 1 forwards;
          animation: effectNext 0.5s linear 1 forwards;
}

/* prev click */
.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  -webkit-animation: outFrame 0.5s linear 1 forwards;
          animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  -webkit-animation: showThumbnail 0.5s linear 1 forwards;
          animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  -webkit-animation: contentOut 1.5s linear 1 forwards !important;
          animation: contentOut 1.5s linear 1 forwards !important;
}

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel .list .item .content .title {
    font-size: 30px;
  }
}

.detail-slider {
  background-color: #272727;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 5vw;
  margin-top: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider .slide {
  width: 50vw;
  height: 80vh;
  margin: 0 5vw;
  position: relative;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-box-shadow: 5px 5px 10px 10px #161616;
          box-shadow: 5px 5px 10px 10px #161616;
}

@media (max-width: 992px) {
  .slider .slide {
    width: 80vw;
    height: 85vh;
    margin-right: 1rem;
  }
}

.slider .slide .text {
  position: absolute;
  background: rgba(22, 22, 22, 0.7);
  border-radius: 5px;
  padding: 1em;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 100%;
  color: #e1e1e1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.slider .slide .text h2 {
  color: #e18023;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  line-height: 1.3em;
  text-transform: uppercase;
}

.slider .slide .text p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.slider .slide .photo {
  width: inherit;
  height: inherit;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slider .slide .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.slider:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider:active .slide {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  margin: 0 0;
}

.slider:active .slide .text {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3em;
  text-transform: uppercase;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3em;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 1rem;
    font-weight: 500;
  }
}

body {
  width: 100vw;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #e18023;
  overflow-x: hidden;
  /* background-image: linear-gradient(0deg, $primary-color, $primary-color),
    url(/Images/bcgound.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background: linear-gradient(180.2deg, #070707 6.8%, #3f3f3f 131%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  min-height: 100vh;
  width: 100vw;
  padding: 3.3rem 10%;
  padding-top: 5rem;
  margin: 5rem auto;
}

@media (max-width: 992px) {
  section {
    padding: 1.3rem 5%;
  }
}

.main-buttons {
  background: transparent;
  color: #e1e1e1;
  border: 1px solid #e1e1e1;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 3px;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  margin: 2rem auto;
  width: 12rem;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.main-buttons:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-media {
  margin: 1rem 1rem;
}

.social-media a {
  color: #e18023;
  margin-right: 1rem;
  font-size: 1.5rem;
}

@supports (animation-timeline: view()) {
  .hero-bg {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-animation: header-image-animation linear forwards;
            animation: header-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
  }
  @media (max-width: 992px) {
    .hero-bg {
      -webkit-animation: none;
              animation: none;
    }
  }
}

#hero {
  /* @media (max-width: $lg) {
    flex-direction: column;
    padding-top: 8rem;
  } */
  max-width: 100vw;
  margin-top: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#hero .hero-content {
  -webkit-animation: fade-out linear;
          animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -200px;
}

@media (max-width: 992px) {
  #hero .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-animation: none;
            animation: none;
    background: rgba(22, 22, 22, 0.5);
    padding: 1rem 2rem;
  }
}

#hero .hero-content button {
  margin: 1rem;
}

#hero .hero-content h1,
#hero .hero-content h2,
#hero .hero-content h3,
#hero .hero-content .buttons {
  margin: 1rem;
}

#hero .hero-content h1 {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3em;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  #hero .hero-content h1 {
    font-size: 5rem;
  }
}

#hero .hero-bg {
  width: 100%;
  height: 100vh;
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  overflow-x: hidden;
}

@media (max-width: 992px) {
  #hero .hero-bg {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0px 15px 15px #161616;
            box-shadow: 0px 15px 15px #161616;
  }
}

#hero .hero-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .hero-logo img {
  -webkit-transform: translate(6rem, 1rem);
          transform: translate(6rem, 1rem);
  width: 35rem;
  z-index: 3;
  margin: -5rem;
  margin-right: 7rem;
  -webkit-animation: fade-out linear;
          animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -100px;
}

@media (max-width: 1400px) {
  #hero .hero-logo img {
    width: 25rem;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range-start: cover;
      animation-range-end: 200px;
    } */
.about {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-main {
  width: 100%;
  height: 100%;
}

.about .about-main .about-inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: 8px;
  background: rgba(22, 22, 22, 0.7);
  /* & .about-h1 {
        h1 {
          font-size: 3rem;
          color: $white;
        }
      } */
}

@media (prefers-reduced-motion: no-preference) {
  .about .about-main .about-inner-content {
    scale: 0.8;
    opacity: 0;
    -webkit-animation: fade-in linear forwards;
            animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
  }
}

.about .about-main .about-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e1e1e1;
}

.about .about-main .about-desc .about-details .about-title {
  font-size: 1.7rem;
}

@media (max-width: 1200px) {
  .about .about-main .about-desc .about-details h2 {
    font-size: 2rem;
  }
}

.about .about-main .about-desc .about-details h3 {
  margin-right: 2rem;
}

.about .about-main .about-desc .about-details strong {
  color: #e18023;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 3rem;
}

@media (max-width: 1400px) {
  .about .about-main .about-desc .about-details strong {
    font-size: 2rem;
  }
}

.about .about-main .about-desc .about-pic img {
  width: 25vw;
  margin: 2rem;
}

@media (max-width: 768px) {
  .about .about-main .about-desc .about-pic img {
    display: none;
  }
}

.about .about-main .grinder-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  min-height: 90vh;
  margin: 7rem auto;
  -webkit-box-shadow: 5px 5px 10px 10px #161616;
          box-shadow: 5px 5px 10px 10px #161616;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 80vw;
  }
}

#contact img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  width: 130%;
  height: 130%;
}

#contact .email-container,
#contact .contact-container {
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .email-container form,
#contact .contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 800px;
  border-radius: 7px;
}

#contact .email-container form h3,
#contact .contact-container form h3 {
  margin-bottom: 1rem;
}

#contact .email-container form input,
#contact .email-container form textarea,
#contact .contact-container form input,
#contact .contact-container form textarea {
  border: 0;
  border-radius: 3px;
  margin: 0.5rem 0;
  padding: 1rem;
  outline: none;
  background: #e1e1e1;
  font-size: 1rem;
  font-family: inherit;
}

#contact .contact-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem;
}

#contact .contact-container h2 {
  margin: 2rem 0;
}

#contact .contact-container h3 {
  margin: 1rem 0;
}

footer {
  bottom: 0;
  width: 100vw;
  height: 100%;
  background: rgba(22, 22, 22, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-desc {
  margin: 1rem;
}

footer .social-media {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */