@import "./Style/variables";
@import "./Style/navbar";
@import "./Style/carousel";
@import "./Style/knife-detail";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.3em;
  text-transform: uppercase;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3em;
  text-transform: uppercase;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  color: $secondary-color;
  overflow-x: hidden;
  /* background-image: linear-gradient(0deg, $primary-color, $primary-color),
    url(/Images/bcgound.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background: linear-gradient(
    180.2deg,
    rgb(7, 7, 7) 6.8%,
    rgb(63, 63, 63) 131%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Scroll animation

// Sections

section {
  /* min-height: 100vh;
  width: 100vw; */
  padding: 3.3rem 10%;
  padding-top: 5rem;
  margin: 5rem auto;

  @media (max-width: 992px) {
    padding: 1.3rem 5%;
  }
}

@supports (animation-timeline: view()) {
  .hero-bg {
    transform-origin: top;
    animation: header-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
  }
}

.main-buttons {
  background: transparent;
  color: $white;
  border: 1px solid $white;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 3px;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  margin: 2rem auto;
  width: 12rem;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.social-media {
  margin: 1rem 1rem;
  & a {
    color: $secondary-color;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}

#hero {
  /* @media (max-width: $lg) {
    flex-direction: column;
    padding-top: 8rem;
  } */
  width: 100vw;
  margin-top: 0;
  min-height: 100vh;
  @include flexCenter();

  & .hero-content {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;

    & button {
      margin: 1rem;
    }

    & h1,
    h2,
    h3,
    .buttons {
      margin: 1rem;
    }

    & h1 {
      font-size: 7rem;
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      line-height: 1.3em;
      text-transform: uppercase;
    }
  }

  & .hero-bg {
    width: 100vw;
    height: 100vh;
    z-index: -100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
  }

  & .hero-logo {
    img {
      transform: translate(6rem, 1rem);
      width: 40vw;
      z-index: 3;
      animation: fade-out linear;
      animation-timeline: view();
      animation-range: exit -100px;
    }
  }
}

/* @media (prefers-reduced-motion: no-preference) {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range-start: cover;
      animation-range-end: 200px;
    } */

.about {
  position: relative;
  min-height: 100vh;
  @include flexCenter();

  & .about-main {
    width: 100%;
    height: 100%;

    & .about-inner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      border-radius: 8px;
      background: rgba($primary-color, 0.7);
      @media (prefers-reduced-motion: no-preference) {
        scale: 0.8;
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 500px;
      }

      /* & .about-h1 {
        h1 {
          font-size: 3rem;
          color: $white;
        }
      } */
    }

    & .about-desc {
      @include flexCenter();
      color: $white;

      & .about-details {
        & .about-title {
          font-size: 1.7rem;
        }

        & h3 {
          margin-right: 2rem;
        }
        & strong {
          color: $secondary-color;
          font-family: "Oswald", sans-serif;
          font-optical-sizing: auto;
          font-weight: 600;
          font-style: normal;
          letter-spacing: 1px;
          font-size: 3rem;
        }
      }

      & .about-pic {
        & img {
          width: 25vw;
          margin: 2rem;
        }
      }
    }

    & .grinder-vid {
      & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
    }
  }
}

#contact {
  @include flexCenter();
  width: 80vw;
  height: 90vh;
  margin: 7rem auto;
  box-shadow: 5px 5px 10px 10px $text-black-color;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  & img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 130%;
    height: 130%;
  }

  & .email-container,
  .contact-container {
    width: 50%;
    height: 100%;
    background: rgba($primary-color, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    & form {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      width: 90%;
      max-width: 800px;
      border-radius: 7px;

      & h3 {
        margin-bottom: 1rem;
      }

      & input,
      textarea {
        border: 0;
        border-radius: 3px;
        margin: 0.5rem 0;
        padding: 1rem;
        outline: none;
        background: $white;
        font-size: 1rem;
        font-family: inherit;
      }
    }
  }

  & .contact-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;

    & h2 {
      margin: 2rem 0;
    }

    & h3 {
      margin: 1rem 0;
    }
  }
}

footer {
  bottom: 0;
  width: 100vw;
  height: 100%;
  background: rgba($primary-color, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;

  & .footer-desc {
    margin: 1rem;
  }

  & .social-media {
    margin-bottom: 0;
  }
}
